::selection {
    color: #fff;
    background: #606060;
}

img {
    display: block;
    width: 75%;
}

li {
    list-style: none;
    margin: 10px;
    text-align: center;
}

li img {
    margin: 0 auto 30px;
}

strong {
    font-size: x-large;
}